body { 
  background: url(./../assets/images/galaxy.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a:hover {
  text-decoration: underline;
}
.nav-link:hover {
  text-decoration: underline;
  color: grey;
}
