body { 
  background: url(./../assets/images/sunrise:moon.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a:hover, .nav-link:hover {
  text-decoration: underline;
}

.formDiv, .resultDiv {
  display: none;
}

.form-control {
  width: 50%;
  margin: auto;
}
img {
  width: 5%;
  height: 5%;
}
